@import "values";
.main{
    background-color: tan;
    h1{
        color: #DDDDDD;
        &:hover{
            text-decoration: line-through;
            @extend %center;
        }
    }
    h2, h3{
        color: $brown1;
    }
}
.minor{
    background-color: silver;
    h1{
        text-decoration: line-through;
        margin-bottom:
    }
    h1, h2{
        @extend %center;
    }
}
$brown1: #964B00;
%center{
    text-align: center;
    padding: 20px;
}
// @mixin flex ($justify){
//     display: flex;
//     justify-self: flex-start;
//     align-items: center;
// }